.common {
  width: 1240px;
}

#head .search {
  width: 100%;
  height: 164px;
  border-bottom: 1px solid #111;
}

#head .search .search_index {
  position: relative;
}

#head .search .search_index .category_box {
  position: absolute;
  top: 84px;
  z-index: 100;
}

#head .search .search_index .category_box .u1 > li:hover .u2 {
  background-color: lightgreen;
  display: block;
}

#head .search .search_index .category_box ul {
  display: none;
}

#head .search .search_index .category_box:hover ul {
  display: block;
}

#main {
  width: 100%;
}

#main .main .main_content {
  padding-top: 20px;
  width: 100%;
  height: 740px;
  padding-bottom: 50px;
  background-color: #fff;
}

#main .main .main_content .Pic {
  margin-right: 50px;
  float: left;
  position: relative;
}

#main .main .main_content .Pic .picbox {
  width: 482px;
  position: relative;
}

#main .main .main_content .Pic .picbox img {
  width: 100%;
  height: 100%;
}

#main .main .main_content .Pic .picbox .smallimg {
  width: 480px;
  height: 480px;
  margin-right: 10px;
  border: 1px solid transparent;
}

#main .main .main_content .Pic .picbox .smallimg .sf {
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  z-index: 100;
}

#main .main .main_content .Pic .picbox .smallimg:hover {
  border: 1px solid #ccc;
}

#main .main .main_content .Pic .picbox .bf {
  position: relative;
  border: 1px solid transparent;
  visibility: hidden;
  position: absolute;
  top: 0;
  background-color: #fff;
  left: 520px;
  width: 510px;
  height: 510px;
  overflow: hidden;
  z-index: 100;
}

#main .main .main_content .Pic .picbox .bf img {
  position: absolute;
  display: block;
  height: 816px;
  width: 816px;
  z-index: 1000;
}

#main .main .main_content .Pic .picbox .bf:hover {
  border: 1px solid #ccc;
}

#main .main .main_content .Pic .ulistbox {
  margin: 0 auto;
  overflow: hidden;
  width: 482px;
  margin-top: 32px;
  position: relative;
}

#main .main .main_content .Pic .ulistbox .ulist {
  width: 450px;
  margin: 0 auto;
  overflow: hidden;
}

#main .main .main_content .Pic .ulistbox .ulist .list {
  position: relative;
}

#main .main .main_content .Pic .ulistbox .ulist .list ul {
  position: absolute;
}

#main .main .main_content .Pic .ulistbox .ulist .arrow {
  width: 15px;
  height: 92px;
  position: absolute;
  top: 0;
  line-height: 92px;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}

#main .main .main_content .Pic .ulistbox .ulist .arrow-left {
  border: 1px solid #ccc;
  color: #fff;
  border: none;
  left: 0;
}

#main .main .main_content .Pic .ulistbox .ulist .arrow-right {
  border: 1px solid #ccc;
  right: 8px;
  color: #fff;
  border: none;
}

#main .main .main_content .Pic .ulistbox .ulist .list {
  height: 92px;
  overflow: hidden;
}

#main .main .main_content .Pic .ulistbox .ulist .list ul {
  float: left;
}

#main .main .main_content .Pic .ulistbox .ulist .list ul li {
  float: left;
  width: 90px;
  height: 92px;
  border: 1px solid transparent;
  padding-right: 6px;
}

#main .main .main_content .Pic .ulistbox .ulist .list ul li img {
  width: 100%;
  height: 100%;
}

#main .main .main_content .Pic .pic_word {
  background-color: #FAFAFA;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  padding: 10px 35px;
}

#main .main .main_content .Pic .pic_word ul {
  width: 442px;
  height: 80px;
}

#main .main .main_content .Pic .pic_word ul li {
  display: inline-block;
  margin: 20px 0 0 30px;
  white-space: nowrap;
}

#main .main .main_content .Pic .pic_word ul li img {
  height: 16px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
}

#main .main .main_content .sInfo {
  width: 678px;
  font-size: 14px;
  overflow: hidden;
  padding-top: 12px;
  float: right;
}

#main .main .main_content .sInfo .product-info .sInfo-title {
  width: 768px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#main .main .main_content .sInfo .product-info .sInfo-subtitle {
  color: #F33;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 7px;
}

#main .main .main_content .sInfo .product-info .sInfo-wrap-price {
  background: #FAFAFA;
  margin-top: 41px;
}

#main .main .main_content .sInfo .product-info .sInfo-wrap-price .sInfo-price {
  line-height: 24px;
  padding: 0 20px 16px 15px;
  padding-bottom: 8px !important;
}

#main .main .main_content .sInfo .product-info .sInfo-wrap-price .sInfo-price .item-label {
  height: 24px;
  overflow: hidden;
  text-align: justify;
  width: 45px;
  color: #333;
  margin-right: 5px;
  float: left;
  font-size: 14px;
}

#main .main .main_content .sInfo .product-info .sInfo-wrap-price .sInfo-price .sInfo-price strong {
  font-size: 24px;
  color: #fa5437;
  font-weight: 600;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content {
  height: 124px;
  margin-top: 100px;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content .sInfo-num {
  line-height: 24px;
  padding: 0 20px 16px 15px;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content .sInfo-num .item-label {
  height: 24px;
  width: 45px;
  color: #999;
  float: left;
  font-size: 14px;
  margin-right: 10px;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content .sInfo-num .row-box-content {
  overflow: hidden;
  position: relative;
  line-height: 24px;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content .sInfo-num .row-box-content .gcIpt {
  text-align: center;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content .sInfo-num .row-box-content .gcIpt .normal-css {
  background: #fff;
  color: #ddd;
  display: inline-block;
  border: 1px solid #ddd;
  float: left;
  height: 26px;
  width: 26px;
  font-size: 16px;
  line-height: 26px;
  margin-left: -1px;
  vertical-align: middle;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content .sInfo-num .row-box-content .gcIpt .decrement {
  margin-left: 0px;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content .sInfo-num .row-box-content .gcIpt .goodsCount {
  background: #fff;
  color: #999;
  font-family: arial;
  font-size: 14px;
  padding: 0;
  text-align: center;
  width: 40px;
  border: 1px solid #ddd;
  float: left;
  height: 26px;
  line-height: 26px;
  margin-left: -1px;
  vertical-align: middle;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content .goods-detail-btns .js-btn {
  background: #FFEBE9;
  margin-right: 16px;
  vertical-align: top;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  width: 200px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0;
  text-align: center;
  border-color: #F33;
  color: #F33;
}

#main .main .main_content .sInfo .sInfo-wrap .sInfo-wrap-content .goods-detail-btns .js-cart {
  background: linear-gradient(180deg, #F33 0, #F63 100%);
  color: #fff;
}

#main .main .main_imgs {
  min-height: 800px;
}
