.common {
  width: 1240px;
  margin: 0 auto;
}

#main {
  background: #f5f5f5;
}

#main .filter {
  line-height: 48px;
  margin: 0 auto;
  width: 1240px;
}

#main .filter .hint {
  color: #31373c;
  display: inline-block;
  *display: inline;
  height: 48px;
  line-height: 48px;
  width: 60px;
}

#main .filter a {
  color: #848484;
  display: inline-block;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  padding-right: 15px;
  text-decoration: none;
  width: 100px;
}

#main .main .list-box {
  padding: 16px 0 30px;
  width: 100%;
}

#main .main .list-box .list-container {
  margin: 0 -5px;
  overflow: hidden;
  min-height: 200px;
}

#main .main .list-box .list-container .list .list-item {
  float: left;
  background: #fff;
  border: 1px solid #E4E4E4;
  display: inline-block;
  height: 328px;
  margin: 5px 5px 15px;
  overflow: hidden;
  position: relative;
  width: 238px;
}

#main .main .list-box .list-container .list .list-item .desc .pic {
  padding: 40px 30px 10px;
}

#main .main .list-box .list-container .list .list-item .desc .pic a {
  display: block;
  height: 165px;
  width: 165px;
}

#main .main .list-box .list-container .list .list-item .desc .cont {
  font-size: 16px;
  text-align: center;
}

#main .main .list-box .list-container .list .list-item .desc .cont a {
  color: #666;
  outline: none;
  text-decoration: none;
}

#main .main .list-box .list-container .list .list-item .desc .cont a .title {
  color: #31373c;
  display: block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

#main .main .list-box .list-container .list .list-item .desc .cont a .price {
  color: #fa5437;
  font-size: 14px;
  line-height: 36px;
  margin-top: 10px;
}

#main .main .list-box .list-container .list .list-item .desc .addbtns {
  width: 105px;
  margin: 0 auto;
  text-align: center;
}

#main .main .list-box .list-container .list .list-item .desc .addbtns .add-cart {
  display: block;
  background: #fff url(//p.ssl.qhmsg.com/t010f59b0af8a644c17.png) no-repeat 14px 7px;
  background-size: 15px;
  border: 1px solid #fc532d;
  color: #fc532d;
  padding-left: 15px;
  display: none;
  line-height: 28px;
  margin-top: 10px;
  font-size: 10px;
}
